# .github/workflows/zmk-build.yml
name: ZMK Build – Lily58 split (left + right)

on:
    push:
        branches: ["**"] # any branch
    pull_request:
    workflow_dispatch:

jobs:
    build:
        strategy:
            matrix:
                include:
                    - board: nice_nano_v2
                      shield: lily58_left
                      conf: debug_left.conf # central + USB logging
                    - board: nice_nano_v2
                      shield: lily58_right
                      conf: debug_right.conf # peripheral – no logging

        # --------------------------------------------------------
        # Call the **reusable** ZMK workflow (v0.4+)
        # --------------------------------------------------------
        uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.4 # <-- note v0.4 (or later)
        with:
            board: ${{ matrix.board }} # now valid inputs
            shield: ${{ matrix.shield }} # now valid inputs
            extra_cmake_args: "-DCONF_FILE=./config/${{ matrix.conf }}"
            artifact_name: "lily58-${{ matrix.shield }}-nice_nano_v2"
        secrets: inherit
