uses: zmkfirmware/zmk/.github/workflows/build.yml@v0.3
with:
    extra_cmake_args: >-
        -DBOARD=${{ matrix.board }}
        -DSHIELD=${{ matrix.shield }}
        -DZMK_CONFIG=./config
        -DCONF_FILE=./config/${{ matrix.conf }}
    artifact_name: "lily58-${{ matrix.shield }}-nice_nano_v2"
